@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* display flex is used to center the elements in center */
  /* Puts them in a row */
  display: flex;
  /* column to center elements horizontally */
  flex-direction: column;
  align-items: center;
  /* to center items vertically */
  justify-content: center;
  /* justify content will only work if height is given */
  height: 100vh;
  /* overflow:hidden to hide scrollbars */
  overflow: hidden;
  margin: 0;
}
