@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* display flex is used to center the elements in center */
  /* Puts them in a row */
  display: flex;
  /* column to center elements horizontally */
  align-items: center;
  /* to center items vertically */
  justify-content: center;
  /* justify content will only work if height is given */
  height: 100vh;
  /* overflow:hidden to hide scrollbars */
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 0.5;
  height: 80vh;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  color: #fff;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
